<footer class="footer">
    <div class="footer-column">
        <h2>ENVOY</h2>
        <p>We create possibilities for the connected world.</p>
        <p class="bold">Be Bold.</p>
    </div>
    <div class="footer-column">
        <h3>Explore</h3>
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Capabilities</a>
        <a href="#">Careers</a>
    </div>
    <div class="footer-column">
        <h3>Visit</h3>
        <p>Envoy So. California</p>
        <p>34 Tesla, Ste 100</p>
        <p>Irvine, Ca, USA 92618</p>
        <h3>New Business</h3>
        <p>engage@weareenvoy.com</p>
        <p>949.333.3106</p>
    </div>
    <div class="footer-column">
        <h3>Follow</h3>
        <a href="#">Instagram</a>
        <a href="#">Twitter</a>
        <a href="#">LinkedIn</a>
    </div>
    <div class="social-icons">
<img src="https://img.icons8.com/?size=50&id=59780&format=png&color=ffffff" alt="">
    <img src="https://img.icons8.com/?size=50&id=59813&format=png&color=ffffff" alt="">
    <img src="https://img.icons8.com/?size=48&id=phOKFKYpe00C&format=png&color=ffffff" alt="">
    <img src="https://img.icons8.com/?size=50&id=62855&format=png&color=ffffff" alt="">
</div>
    <div class="footer-column">
        <h3>Legal</h3>
        <a href="#">Terms</a>
        <a href="#">Privacy</a>
    </div>
    <div class="footer-column next">
        <h3>Next: About</h3>
    </div>
</footer>
<p class="copyright">&copy; 2020 Envoy. All Rights Reserved.</p>